
# Decision Tree
decision-tree/Exercise_1/EX1_Decision_Tree_Graphic.pptx
decision-tree/Exercise_1/EX1_Decision_Tree_Solution.docx

# Multiple Linear Regression
multiple-linear-regression/Exercise_1/EX1_Multiple_linear_regression_Solution.docx

# Simple Linear Regression
